{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid px-3">
        <!-- header -->
        <div class="row border bg-white mt-3 py-3">
            <div style="text-align: center">
                <h3>출고 리스트</h3>
            </div>
        </div>

        <!-- 검색조건 -->
        <div class="row mt-3">
            <div class="textType">
                <div class="subTitle">2022년 03월 30일<br>
                    온라인발주<br><br>
                </div>
                <div>

                    <div class="categoryTitle">연어 : 54개
                    </div>
                    <ul>
                        <li>생연어 200g : 2개
                        </li>
                        <li>생연어 250g : 52개
                        </li>
                    </ul>
                    <br><br>
                </div>
                이상입니다.
            </div>
        </div>
{% endblock %}